* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto condensed;
}

header {
    background-color: #003366;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    height: 81px;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra basica*/
    z-index: 1000; /*cabeçalho sobre o conteúdo */
}
.but {
    padding: 10px 20px;
    background-color: #003366;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

.but:hover {
    background-color: #09233e;
    text-decoration: underline;
}
header .logo span {
    color: #00ffcc;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 50px;
}

header nav ul li a {
    font-size: 18px;
    padding: 8px;
    color: #fff;
    text-decoration: none;
}

/* Menu principal */
.menu {
    display: flex;
    list-style: none;
    background-color: #003366;
    padding: 10px;
    color: white;
}

.menu li {
    margin-right: 20px;
}

/* Menu de categorias suspenso */
.categories-menu {
    display: none; 
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    background-color: #003366;
    padding: 20px 0px;
    justify-content: space-around;
    z-index: 900;
}

.category-item, a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.category-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}



header .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}


header .icons input {
    padding: 5px;
    border-radius: 8px;
    border: 1px  #9b9595;
    width: 300px;
    height: 30px;
}


body {
    height: 100%;
    width: 100%;
    background-color: #ffff;
    padding-top: 81px;
}

section{
    justify-content: center;
    display: flex;
}


.container {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #808080;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: #808080;
    color: #fff;
    padding-left: 90px;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-container input, .form-container textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.form-container textarea {
    height: 80px;
}

.form-container button {
    width: 400px;
    padding: 10px;
    background-color: #004085;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.image-container {
    width: 500px;
    background-color: #f0f0f0;
}

.image-container img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 380px;
    background-color: #003366;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer img {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    margin-left: 80px; 
}
